header.main-heading{
    background: no-repeat center center rgb(0, 0, 0);
    background-attachment: scroll;
    font-family: Arial, Helvetica, sans-serif;
    .overlay {
      top: 0;
      left: 0;
      background-color: rgb(22, 22, 22);
      opacity: 0.5;
    }
    .page-heading,
    .post-heading,
    .site-heading {
      padding: 100px 0 150px;
      color: white;
      @media only screen and (min-width: 768px) {
        padding: 100px 0;
      }
    }
    .page-heading,
    .site-heading {
      text-align: left;
      h1 {
        
        font-size: 50px;
        margin-top: 0;
        margin-left: 50px;
      }
      .subheading {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.1;
        display: block;
        margin: 10px 0 0;
        margin-left: 50px;
      }
      @media only screen and (min-width: 768px) {
        h1 {
          font-size: 80px;
          font-weight: 600;
        }
      }
    }
    .post-heading {
      h1 {
        font-size: 35px;
      }
      .meta,
      .subheading {
        line-height: 1.1;
        display: block;
      }
      .subheading {
        font-size: 24px;
        font-weight: 600;
        margin: 10px 0 30px;
      }
      .meta {
        font-size: 20px;
        font-weight: 300;
        font-style: italic;
        a {
          color: white;
        }
      }
      @media only screen and (min-width: 768px) {
        h1 {
          font-size: 55px;
        }
        .subheading {
          font-size: 30px;
        }
      }
    }
  }
  