<header class="main-heading">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8">
                <div class="site-heading">
                    <h1>HN Feed</h1><span class="subheading">We 3 hacker news!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>