<!DOCTYPE html>
<ul class="list-group">
    <div *ngFor="let article of articles">
        <div>
            <li class="list-group-item list-group-item-action" *ngIf="article.story_title || article.title">
                <div class="first-section"><a target="_blank" href="{{article.story_url || article.url}}">
                        <span class="title">{{article.story_title ? article.story_title : article.title}}</span>
                        <span class="author" *ngIf="article.author">- {{article.author}} -</span> </a>
                </div>
                <div class="second-section"><span class="date" *ngIf="article.created_at">{{article.order_date}}</span>
                    <i class="fa fa-trash" (click)="deleteArticle(article.objectID)"></i>
                </div>
            </li>
        </div>
    </div>
</ul>